@model TaskComment_ModelView

@{
    var anyData = ViewBag.anyData as AnyData_Comment;

    var LstModelView = ViewBag.LstModelView as List<TaskComment_ModelView>;

    bool initFirst = true;
    string GetStile()
    {
        if (initFirst)
        {
            initFirst = false;
            return "";
        }
        return "display:none;"; ;
    }
}
}


<div>
    <input type="hidden" asp-for="IdComment" />
    <input type="hidden" asp-for="TaskId" />
    <input type="hidden" asp-for="TypeOperations" />
    <input type="hidden" asp-for="Debug" />
    <input type="hidden" asp-for="@anyData.maxSizeFile" />    
</div>


`

@if (Model.Debug)
{
    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Test command selector
        </button>
        <div class="dropdown-menu">
            <button id="btn-drm-getdata" class="dropdown-item">GetData</button>
            <button id="btn-drm-verfdata" class="dropdown-item">VerfData</button>
            <button id="btn-drm-save" class="dropdown-item">saveData</button>
            <button id="btn-drm-base-param" class="dropdown-item">BaseParam</button>
            <button id="btn-drm-postFile-empty" class="dropdown-item">postFileEmpty</button>
        </div>
    </div>
}

<div class="modal fade" id="exampleModal"
     tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">


    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comment Editor </h5>
                <button type="button"
                        class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="message-err text-danger" ></div>

                <form class="mt-2">

                    <div class="form-group form-check">
                        <input class="form-check-input"
                               asp-for="ContentType" />
                        <label class="form-check-label lb-cont-type"
                               asp-for="ContentType">For DBase</label>
                    </div>
                    <div class="div-postedFile">
                        <input asp-for="postedFile" />
                    </div>


                    <div class="form-group div-testarea">
                        <label for="exampleFormControlTextarea1">Comment</label>
                        <textarea class="form-control" asp-for="Content" rows="3"></textarea>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button id="btn-dlg-close" type="button"
                        class="btn btn-secondary btn-close" data-dismiss="modal">
                    Close
                </button>
                <button id="btn-dlg-save" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="container">

    <h1 class="u-h1Smaller">Editor comment</h1>
    <ul class="ul_compl_data">
        <li><b>Project</b>: @anyData.ProjectName</li>
        <li><b>Task</b>: @anyData.TaskName</li>
        <li><b>TaskStart:</b>: @anyData.Str_DateTime</li>
    </ul>

    <div class="py-2 mb-2">
    <button id="btn-dlg-open" type="button" class="btn btn-primary btn-sm"
            data-toggle="modal"
            data-target="#exampleModal">
        CreateComment
    </button>
    </div>


    <div class="row">
        @foreach (TaskComment_ModelView m in LstModelView)
        {
            <div class="col-8 border-top border-bottom border-dark p-2" style="@GetStile()">
                @if (!string.IsNullOrEmpty(m.StrFileName))
                {
                    @:<b>fileName</b>: @m.StrFileName
                    <div class="py-1"></div>
                }
                @m.Content
            </div>
        }
    </div>




</div>


@section Scripts {
    <script src="~/js/create.taskcomment.js"></script>
    <script src="~/js/create.taskcomment.test.js"></script>
}