@model TaskComment_ModelView

@{
    var anyData = ViewBag.anyData as AnyData_Comment;
    var taskCompl = anyData.TaskCompl;

    var LstModelView = ViewBag.LstModelView as List<TaskComment_ModelView>;

    int index = 1;  // Comment buttons index 

    string test = ViewBag.test as string;   // blocking js checks 
}


<style>

    .div-comn-hide {
        display: none;
    }

    .btn-sel-default {
        width: 2rem;
        height: 2rem;
    }

    .btn-sel {
        background: #f8dd91;
    }

    .btn-not-sel {
        background: #dcded9;
    }

    .img-task-upd {
        height: 20px;
    }

    .comp-dt {
        max-width: 7rem;
        background-color: #e9ecef;
        border: none;
    }

    .comp-time {
        max-width: 6rem;
    }
</style>


@*hidden input*@
<div>

    <input type="hidden" asp-for="@anyData.Debug" />
    <input type="hidden" asp-for="@anyData.maxSizeFile" />

    <input type="hidden" id="taskName" value="@anyData.TaskName" />
    <input type="hidden" id="taskId" value="@anyData.TaskId" />

    <input type="hidden" id="test" value="@test" />
    <input type="hidden" id="taskCompl" value="@taskCompl" />    
</div>



@* block modelDlg *@
<div class="modal fade" id="div-Modal"
     tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editor comment</h5>
                <button type="button"
                        class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                @if (anyData.Debug == "on")
                {
                    <partial name="_AddTaskComment_test" />
                }

                <div class="mb-2 message-err text-danger"></div>

                <form class="form-comment">

                    <div class="form-group form-check div-content-type">
                        <input class="form-check-input"
                               asp-for="ContentType" />
                        <label class="form-check-label lb-cont-type"
                               asp-for="ContentType">For DBase</label>
                    </div>

                    <div class="div-dlg-strFile">
                        <b>File:</b> <span class="span-dlg-strFile"></span>
                    </div>

                    <div class="div-postedFile">
                        <input asp-for="postedFile" />
                    </div>


                    <div class="form-group div-testarea">
                        <label for="exampleFormControlTextarea1">Comment</label>
                        <textarea class="form-control" asp-for="Content" rows="3"></textarea>
                    </div>
                </form>

            </div>


            @*button close and save*@
            <div class="modal-footer">
                <button id="btn-dlg-close" type="button"
                        class="btn btn-secondary btn-close btn-sm" data-dismiss="modal">
                    Close
                </button>
                <button id="btn-dlg-save" type="button" class="btn btn-primary btn-sm"><span>Save</span></button>
            </div>
        </div>
    </div>
</div>


<div class="container form-task" data-idclick="" style="max-width:20rem; display:none;">

    <div class="text-danger fm-task-mes"></div>

    <div class="form-group fm-task-name">
        <label for="form-taskId"></label>
        <input type="text" class="form-control"
               id="form-taskId" value="" />
    </div>


    <div class="form-group fm-task-datetime">

        <label>Date and time update task</label> <br />
        <input id="Date" readonly type="text"
               class="comp-dt" placeholder="Date">

        <input id="Time" readonly type="text"
               class="ml-2 comp-dt comp-time" placeholder="Time">
    </div>


    <div>
        <button id="btn-close-task" type="button"
                class="btn btn-secondary btn-sm" data-dismiss="modal">
            Close
        </button>

        <button id="btn-save-task" type="button" class="btn btn-primary btn-sm"><span>Save</span></button>
    </div>
</div>


<div class="container content-comment">

    <h1 class="u-h1Smaller">Editor comment</h1>
    @if (anyData.Debug == "on")
    {
        <div class="mt-n2 mb-2 u-textSmaller text-danger">
            <b>Включен режим Debug</b>
            <a class="card-link" asp-action="DetailDebug"
               asp-controller="Home">In detail</a>
        </div>
    }
    @*General header*@
    <ul class="ul_compl_data border-top border-bottom border-dark py-1 px-2" style="background-color: #e7f5ea;">
        <li><b>Project</b>: @anyData.ProjectName</li>
        <li>
            <span class="text-danger mes-task-compl"></span> <br />
            <b>Task</b>: <span class="title-taskName">@anyData.TaskName</span>
            
                <button id="btn-taskname-name" class="border-0 ml-3 btn-editor-task"
                        style="background-color:none;">
                    <img class="img-task-upd" src="~/img/penc.png" alt="Upd" />
                </button>

                <button id="btn-taskname-upd" class="border-0 ml-2 btn-editor-task"
                        style="background-color:none;">
                    <img class="img-task-upd" src="~/img/date.png" alt="Upd" />
                </button>

                <button id="btn-task-cancel" class="border-0 btn-editor-task"
                        style="background-color:none;">
                    <img class="img-task-upd" src="~/img/del.png" alt="Del" />
                </button>
            
        </li>
        <li><b>TaskStart:</b>: @anyData.Str_DateTime</li>
    </ul>


    @*Navigation buttons *@
    <div class="row mb-3 div-btn-navig" style="padding-right:8rem">
        @foreach (TaskComment_ModelView m in LstModelView)
        {
            <div class="col-auto px-1">
                <button class="btn-sel-default btn-sm border border-info rounded-circle"
                        id="@(m.IdComment)">
                    @(index++)
                </button>
            </div>
        }

        <div class="col last-column"></div>
    </div>


    @*Comment block *@
    <div class="row main-comments">
        @foreach (TaskComment_ModelView m in LstModelView)
        {
            <div class="col-10 div-comn-hide border-top border-bottom border-dark p-2"
                 fileName="@(m.StrFileName)"
                 divid="@(m.IdComment)"
                 divsel="off"
                 style="background: #f8dd91;">
                @if (!string.IsNullOrEmpty(m.StrFileName))
                {
                    @:<span><b>fileName</b>: @m.StrFileName</span>
                    <div class="py-1"></div>
                }
                <div class="div-comment">@m.Content</div>
            </div>
        }
    </div>


    @*Button editor *@
    <div class="row mt-4">
        <div class="col-auto rounded-circle px-1">
            <button id="btn-userIntf-add"
                    class="border-0 btn-editor-comn"
                    style="background-color:none">
                <img src="~/img/adds.png" alt="Add" />
            </button>
        </div>

        <div class="col-auto rounded-circle btn-editor-comn px-1">
            <button id="btn-userIntf-upd" class="border-0"
                    style="background-color:none">
                <img src="~/img/penc.png" alt="Upd" />
            </button>
        </div>


        <div class="col-auto rounded-circle btn-editor-comn px-1">
            <button id="btn-userIntf-del" class="border-0"
                    style="background-color:none">
                <img src="~/img/del.png" alt="Del" />
            </button>
        </div>


        <div class="col"></div>
    </div>


</div>


@section Picker {
    <link rel="stylesheet" type="text/css" href="~/Plagin/jquery.datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Plagin/timepicker-ui.min.css" />
}


@section Scripts {

    <script src="~/Plagin/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Plagin/timepicker-ui.min.js"></script>

    <script asp-append-version="true" src="~/js/create.taskcomment.js"></script>
    @if (anyData.Debug == "on")
    {
        <script asp-append-version="true" src="~/js/create.taskcomment.test.js"></script>
    }
}