@model TaskComment_ModelView

@{
    var anyData = ViewBag.anyData as AnyData_Comment;

    var LstModelView = ViewBag.LstModelView as List<TaskComment_ModelView>;

    int index = 0;

    string GetClass()
    {
        index++;
        if (index == 1)
            return "btn-sel";
        else
            return "btn-not-sel";

    }

    string id_selComn = "on";
    bool initFirst = true;
    string Get_idSelComn()
    {
        string res = id_selComn;

        if (id_selComn == "on")
            id_selComn = "off";
        return res;
    }

    string Css_divCommn()
    {
        if (initFirst)
        {
            initFirst = false;
            return "";
        }
        return "div-comn-hide";
    }

}


<style>

    .div-comn-hide {
        display: none;
    }

    .btn-sel-default {
        width: 2rem;
        height: 2rem;
    }

    .btn-sel {
        background: #f8dd91;
    }

    .btn-not-sel {
        background: #dcded9;
    }
</style>


@*hidden input*@
<div>
    <input type="hidden" asp-for="@anyData.TaskId" />    
    <input type="hidden" asp-for="@anyData.Debug" />
    <input type="hidden" asp-for="@anyData.maxSizeFile" />
</div>


<div class="modal fade" id="div-Modal"
     tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">


    <div class="modal-dialog" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comment Editor </h5>
                <button type="button"
                        class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @if (anyData.Debug == "on")
                {
                    <div class="btn-group dropright">
                        <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Test command selector
                        </button>
                        <div class="dropdown-menu">
                            <button id="btn-drm-getdata" class="dropdown-item">GetData</button>
                            <button id="btn-drm-verfdata" class="dropdown-item">VerfData</button>
                            <button id="btn-drm-save" class="dropdown-item">saveData</button>
                            <button id="btn-drm-base-param" class="dropdown-item">BaseParam</button>
                            <button id="btn-drm-postFile-empty" class="dropdown-item">postFileEmpty</button>
                        </div>
                    </div>
                }

                <div class="message-err text-danger"></div>

                <form class="mt-2">

                    <div class="form-group form-check div-content-type">
                        <input class="form-check-input"
                               asp-for="ContentType" />
                        <label class="form-check-label lb-cont-type"
                               asp-for="ContentType">For DBase</label>
                    </div>

                    <div class="div-dlg-strFile">
                        <b>File:</b> <span class="span-dlg-strFile"></span>
                    </div>

                    <div class="div-postedFile">
                        <input asp-for="postedFile" />
                    </div>


                    <div class="form-group div-testarea">
                        <label for="exampleFormControlTextarea1">Comment</label>
                        <textarea class="form-control" asp-for="Content" rows="3"></textarea>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button id="btn-dlg-close" type="button"
                        class="btn btn-secondary btn-close btn-sm" data-dismiss="modal">
                    Close
                </button>
                <button id="btn-dlg-save" type="button" class="btn btn-primary btn-sm"><span>Save</span></button>
            </div>
        </div>
    </div>
</div>


<div class="container">

    <h1 class="u-h1Smaller">Editor comment</h1>
    @*General header*@
    <ul class="ul_compl_data">
        <li><b>Project</b>: @anyData.ProjectName</li>
        <li><b>Task</b>: @anyData.TaskName</li>
        <li><b>TaskStart:</b>: @anyData.Str_DateTime</li>
    </ul>


    @*Navigation buttons *@
    <div class="row mb-3" style="padding-right:8rem">
        @foreach (TaskComment_ModelView m in LstModelView)
        {
            <div class="col-auto px-1">
                <button class="btn-sel-default @(GetClass()) btn-sm border border-info rounded-circle btn-sel-comn"
                        id="btn-@(m.IdComment)">
                    @index
                </button>
            </div>
        }

        <div class="col"></div>
    </div>


    @*Comment block *@
    <div class="row">
        @foreach (TaskComment_ModelView m in LstModelView)
        {
            <div class="@Css_divCommn() col-10 border-top border-bottom border-dark p-2"
                 fileName="@(m.StrFileName)"
                 idSelComn="@(Get_idSelComn())"
                 id="div-@(m.IdComment)"
                 style="background: #f8dd91;">
                @if (!string.IsNullOrEmpty(m.StrFileName))
                {
                    @:<span><b>fileName</b>: @m.StrFileName</span>
                    <div class="py-1"></div>
                }
                <div class="div-comment">@m.Content</div>
            </div>
        }
    </div>


    @*Button block user interface *@
<div class="row mt-4">
    <div class="col-auto rounded-circle px-1">
        <button id="btn-userIntf-add"
                class="border-0"
                style="background-color:none">               
            <img src="~/img/adds.png" alt="Add" />
        </button>
    </div>

    <div class="col-auto rounded-circle px-1">
        <button id="btn-userIntf-upd" class="border-0"
                style="background-color:none">                
            <img src="~/img/penc.png" alt="Upd" />
        </button>
    </div>


    <div class="col-auto rounded-circle px-1">
        <button id="btn-userIntf-del" class="border-0"
                style="background-color:none">                
            <img src="~/img/del.png" alt="Del" />
        </button>
    </div>

    @*<div class="col-auto rounded-circle px-1"><img src="~/img/penc.png" alt="Upd" /></div>
    <div class="col-auto rounded-circle px-1"><img src="~/img/del.png" alt="Del" /></div>*@

    <div class="col"></div>
</div>


</div>


@section Scripts {
    <script src="~/js/create.taskcomment.js"></script>
    @if (anyData.Debug=="on")
    {
        <script src="~/js/create.taskcomment.test.js"></script>
    }
}