@model TaskComment_ModelView

@{
    var anyData = ViewBag.anyData as AnyData_Comment;

    var LstModelView = ViewBag.LstModelView as List<TaskComment_ModelView>;

    int index = 1;

}


<style>

    .div-comn-hide {
        display: none;
    }

    .btn-sel-default {
        width: 2rem;
        height: 2rem;
    }

    .btn-sel {
        background: #f8dd91;
    }

    .btn-not-sel {
        background: #dcded9;
    }
</style>


@*hidden input*@
<div>
    <input type="hidden" asp-for="@anyData.TaskId" />
    <input type="hidden" asp-for="@anyData.Debug" />
    <input type="hidden" asp-for="@anyData.maxSizeFile" />
</div>


@* block modelDlg *@
<div class="modal fade" id="div-Modal"
     tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">


    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editor comment</h5>
                <button type="button"
                        class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @if (anyData.Debug == "on")
                {
                    <partial name="_AddTaskComment_test" />
                }

                <div class="message-err text-danger"></div>

                <form class="mt-2">

                    <div class="form-group form-check div-content-type">
                        <input class="form-check-input"
                               asp-for="ContentType" />
                        <label class="form-check-label lb-cont-type"
                               asp-for="ContentType">For DBase</label>
                    </div>

                    <div class="div-dlg-strFile">
                        <b>File:</b> <span class="span-dlg-strFile"></span>
                    </div>

                    <div class="div-postedFile">
                        <input asp-for="postedFile" />
                    </div>


                    <div class="form-group div-testarea">
                        <label for="exampleFormControlTextarea1">Comment</label>
                        <textarea class="form-control" asp-for="Content" rows="3"></textarea>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button id="btn-dlg-close" type="button"
                        class="btn btn-secondary btn-close btn-sm" data-dismiss="modal">
                    Close
                </button>
                <button id="btn-dlg-save" type="button" class="btn btn-primary btn-sm"><span>Save</span></button>
            </div>
        </div>
    </div>
</div>



<div class="container">

    <h1 class="u-h1Smaller">Editor comment</h1>
    @*General header*@
    <ul class="ul_compl_data">
        <li><b>Project</b>: @anyData.ProjectName</li>
        <li><b>Task</b>: @anyData.TaskName</li>
        <li><b>TaskStart:</b>: @anyData.Str_DateTime</li>
    </ul>


    @*Navigation buttons *@
    <div class="row mb-3 div-btn-navig" style="padding-right:8rem">
        @foreach (TaskComment_ModelView m in LstModelView)
        {
            <div class="col-auto px-1">
                <button class="btn-sel-default btn-sm border border-info rounded-circle"
                        id="@(m.IdComment)">
                    @(index++)
                </button>
            </div>
        }

        <div class="col last-column"></div>
    </div>


    @*Comment block *@
    <div class="row main-comments">
        @foreach (TaskComment_ModelView m in LstModelView)
        {
            <div class="col-10 div-comn-hide border-top border-bottom border-dark p-2"
                 fileName="@(m.StrFileName)"
                 divid="@(m.IdComment)"
                 divsel="off"
                 style="background: #f8dd91;">
                @if (!string.IsNullOrEmpty(m.StrFileName))
                {
                    @:<span><b>fileName</b>: @m.StrFileName</span>
                    <div class="py-1"></div>
                }
                <div class="div-comment">@m.Content</div>
            </div>
        }
    </div>


    @*Button editor *@
    <div class="row mt-4">
        <div class="col-auto rounded-circle px-1">
            <button id="btn-userIntf-add"
                    class="border-0"
                    style="background-color:none">
                <img src="~/img/adds.png" alt="Add" />
            </button>
        </div>

        <div class="col-auto rounded-circle px-1">
            <button id="btn-userIntf-upd" class="border-0"
                    style="background-color:none">
                <img src="~/img/penc.png" alt="Upd" />
            </button>
        </div>


        <div class="col-auto rounded-circle px-1">
            <button id="btn-userIntf-del" class="border-0"
                    style="background-color:none">
                <img src="~/img/del.png" alt="Del" />
            </button>
        </div>


        <div class="col"></div>
    </div>


</div>


@section Scripts {
    <script src="~/js/create.taskcomment.js"></script>
    @if (anyData.Debug == "on")
    {
        <script src="~/js/create.taskcomment.test.js"></script>
    }
}