@model InsProjectView

@{
    var content_TableModel = ViewBag.Content_TableModel as Content_TableTask;

    string debug = content_TableModel.debug;
    string projectId = content_TableModel.projectId;
    string idUpdate = content_TableModel.idUpdate;

    ViewBag.productId = content_TableModel.projectId;  // in _LayOut for addTask


    var projectView = ViewBag.projectView as BaseProjectView;
    var typeOperations = projectView.TypeOperations;
    int numItem = content_TableModel.numItem;
}

<style>
    .lineThrough {
        text-decoration: line-through;
    }
</style>


@* hiden elements *@
<div>
    <input type="hidden" asp-for="@projectId" />
    <input type="hidden" asp-for="@typeOperations" />

    <input type="hidden" asp-for="@numItem" />
    <input type="hidden" asp-for="@debug" />
    <input type="hidden" asp-for="@idUpdate" />
    
</div>


@if (debug == "on")
{
    <div class="ml-3 mb-2 u-textSmaller text-danger">
        <b>Включен режим Debug</b>
    </div>
   
}


<partial name="_formDialog_add_upd_project" model="@projectView" />

<div class="container-fluid contentTableJob">

    <h1 class="text-center">Test Job</h1>

    <div class="row">

        @*Selector projects *@
        <div class="btn-group dropright col-auto">
            <butmton type="button"
                     class="btn btn-secondary dropdown-toggle"
                     data-toggle="dropdown"
                     aria-haspopup="true"
                     aria-expanded="false">
                <span id="spanSelProject">@content_TableModel.projectName</span>
            </butmton>
            <div class="dropdown-menu">

                @* Filling in the list of projectNames  *@
                @foreach (ModelProjectMenu pr in content_TableModel.LsProjects)
                {
                    <a class="dropdown-item @pr.disabled"
                       asp-action="index"
                       asp-route-id="@pr.key">@pr.projectName</a>
                }

            </div>

        </div>

        <div class="col"></div>

        @* panel button add, upd, del *@
        <div class="col-auto">

            <button id="btn-AddProject" class="btn btn-light p-0">
                <img style="max-width:32px" src="~/img/adds.png" alt="ModifyProject" />
            </button>

            <button id="btn-updProject" class="btn btn-light p-0 ml-1">
                <img style="max-width:32px" src="~/img/penc.png" alt="ModifyProject" />
            </button>

        </div>

    </div>


    <partial name="_tableContent_main_page" />

    @if (content_TableModel.idUpdate == "on")
    {
        <div class="mt-2 ml-2">
            All tasks completed. The project is closed.
        </div>
    }

</div>


@section Picker {
    <link rel="stylesheet" type="text/css" href="~/Plagin/jquery.datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Plagin/timepicker-ui.min.css" />
}


@section ScriptsPicker{
    <script src="~/Plagin/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Plagin/timepicker-ui.min.js"></script>
}


@section Scripts{
    <script src="~/js/modf.project.js" asp-append-version="true"></script>
}


@*@section scriptCreateProject{

        <script src="~/js/CreateProject.el.js" asp-append-version="true"></script>
        <script src="~/js/CreateProject.func.js" asp-append-version="true"></script>
        <script src="~/js/CreateProject.js" asp-append-version="true"></script>
        @if (content_TableModel.debug == "on")
        {
            <script src="~/js/CreateProject.test.js" asp-append-version="true"></script>

        }
    }*@
